* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background-color: rgb(170, 170, 170);
    min-height: 100vh;
    margin: 0;
}

/* header{
    flex: 1;
} */

main {
    flex: 1;
}



footer {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*REGISTER*/

#sectionRegistro {
    height: 100%;
    width: 40%;
    margin: 50px auto;
    padding: 15px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sectionRegistro h2 {
    text-align: center;
    margin-bottom: 10px;
    background-color: #2c3e50;
    color: white;
    font-size: 20px;
}

/* Labels */
#sectionRegistro label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #475569;
}

/* Inputs y selects */
#sectionRegistro input,
#sectionRegistro select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 6px 0px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    background-color: #f8fafc;
    font-size: 12px;
    transition: 0.2s;

}

#sectionRegistro input:focus,
#sectionRegistro select:focus {
    outline: none;
    border-color: #6366f1;
    background-color: white;
    box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.15);
}

/* Botón */
#sectionRegistro button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #2c3e50;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    align-self: center;
}

#btnRegister:hover,
#btnRegisterCancelar:hover {
    background-color: #4f46e5;
}

/* Resultado */
#resultadoRegister {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}



/*------------------------------*/


.card-oferta {
    width: 250px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    background-color: white;

    /* display: flex;
    flex-direction: column; */
    /* background-color: rgb(211, 192, 190); */
}

.card-oferta h3 {
    margin-top: 0;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
}

.card-oferta p {
    margin: 15px 0;
}

.card-oferta button {
    padding: 5px 10px;
    cursor: pointer;
}

.card-oferta button {
    margin: 20px auto 10px;
    align-self: center;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #2c3e50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    align-self: center;
}

.card-oferta button:hover {
    background-color: #4f46e5;
}

#sectionPincipalUser {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

}



#sectionPincipalUser p {
    font-size: 17px;
}


.seccionPostulaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.seccionOfertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.seccionOfertas #card-oferta {
    width: calc(25% - 15px);
}

#resultadoOfertas2 {
    color: rgb(167, 8, 8);
    font-weight: bold;
}




#headerPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    padding: 0;
    margin: 0;
}



#headerPrincipal h1 {
    display: block;
    max-width: 50%;
    margin: 0;
    font-size: 35px;
    line-height: 1.15;
    color: #111;
}

/* Caja del login */
#sectionLogin {
    margin-left: auto;
    width: 320px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

#sectionLogin h2 {
    align-self: stretch;
    text-align: center;
    margin-bottom: 10px;
    background-color: #2c3e50;
    color: white;
    font-size: 20px;
}

/* Labels */
#sectionLogin label {
    font-weight: bold;
    font-size: 14px;
}

/* Inputs */
#sectionLogin input {
    padding: 12px;

    border: 1px solid #999;
    border-radius: 8px;

    font-size: 15px;
}

/* Botones */
#sectionLogin button {
    padding: 12px;

    border: none;
    border-radius: 8px;

    background-color: #2c3e50;
    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}

#sectionLogin button:hover {
    background-color: #4f46e5;
}

/* #headerLogin{
    background-color:#2c3e50;
    color: white;
} */


#headerLogin {
    display: flex;
    justify-content: space-between;
}





#sectionNav {
    padding: 1rem 0rem;
    gap: 20px;
    list-style: none;

}

#sectionNav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

#navUser {
    justify-content: space-around;
}

#sectionNav li {
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
    align-self: center;
}

#sectionNav li:hover {
    background-color: #2c3e50;
    cursor: pointer;
}



.botones {
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
    background-color: #2c3e50;
    color: white;
}

.botones:hover {
    background-color: #4f46e5;
    cursor: pointer;
}

button:disabled {
    background-color: #5d6d7e;
    color: #bdc3c7;
    cursor: not-allowed;
}

#sectionNav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#sectionCerrarSesion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 10px;
}

.contenedor {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    margin: 0 auto;
}

/* h1{
    align-self: center;
} */

h2 {
    text-align: center;
    padding: 1rem 0;
}


/*ADMIN*/

#sectionPincipalAdmin {
    max-width: 700px;
    margin: 15px auto;
    font-family: Arial, sans-serif;
}

#sectionPincipalAdmin h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* #formCrearOferta, #formEditarOferta {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 12px 15px;
    align-items: center;
    padding: 40px 20px 20px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#formCrearOferta label,
#formEditarOferta label {
    font-weight: bold;
    text-align: left;
    justify-self: start;
}

#formCrearOferta input,
#formCrearOferta textarea,
#formCrearOferta select,
#formEditarOferta input,
#formEditarOferta textarea,
#formEditarOferta select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#formCrearOferta textarea,
#formEditarOferta textarea {
    resize: none;
    height: 80px;
}

#formCrearOferta input:focus,
#formCrearOferta textarea:focus,
#formCrearOferta select:focus,
#formEditarOferta input:focus,
#formEditarOferta textarea:focus,
#formEditarOferta select:focus{
    outline: none;
    border-color: rgb(187, 83, 72);
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

#formCrearOferta label input[type="checkbox"],
#formEditarOferta label input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
}

#btnCrearOferta,
#btnEditarOferta {
    grid-column: 1 / 3;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: rgb(187, 83, 72);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btnCrearOferta:hover,
#btnEditarOferta:hover {
    background: rgb(184, 48, 32);
}

#formCrearOferta p,
#formEditarOferta p {
    grid-column: 1 / 3;
    margin: 2rem 0.5rem;
}

#resultadoCrearOfertas,
#resultadoEditarOfertas2 {
    grid-column: 1 / 3;
    margin: 2rem 0.5rem;
    text-align: center;
    color: rgb(167, 8, 8);
    font-weight: bold;
} */

#formCrearOferta,
#formEditarOferta {
    width: 450px;
    margin: 50px auto;
    padding: 35px;

    background-color: white;
    border-radius: 16px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;

    font-family: Arial, sans-serif;
}

/* Labels */
#formCrearOferta label,
#formEditarOferta label {
    margin-top: 14px;
    margin-bottom: 6px;

    font-size: 14px;
    font-weight: bold;
    color: #475569;
}

/* Inputs, selects y textarea */
#formCrearOferta input,
#formCrearOferta select,
#formCrearOferta textarea,
#formEditarOferta input,
#formEditarOferta select,
#formEditarOferta textarea {
    width: 100%;
    box-sizing: border-box;

    padding: 12px;

    border: 1px solid #cbd5e1;
    border-radius: 10px;

    background-color: #f8fafc;

    font-size: 14px;

    transition: 0.2s;
}

/* Focus */
#formCrearOferta input:focus,
#formCrearOferta select:focus,
#formCrearOferta textarea:focus,
#formEditarOferta input:focus,
#formEditarOferta select:focus,
#formEditarOferta textarea:focus {
    outline: none;

    border-color: #6366f1;
    background-color: white;

    box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.15);
}

/* Textarea */
#formCrearOferta textarea,
#formEditarOferta textarea {
    resize: none;
    min-height: 100px;
}

/* Checkbox */
#destacadaOferta,
#modificarDestacadaOferta {
    width: auto !important;
    margin-top: 10px;
    transform: scale(1.2);
}

/* Botón */
#btnCrearOferta,
#formEditarOferta button {
    margin-top: 25px;

    padding: 14px;

    border: none;
    border-radius: 10px;

    background-color: #2c3e50;
    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

#btnCrearOferta:hover {
    background-color: #4f46e5;
}

/* Resultado */
#resultadoCrearOfertas {
    display: block;
    margin-top: 15px;

    text-align: center;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;

}

th {
    background-color: #2c3e50;
    color: white;
    padding: 12px;
    text-align: center;
}

/* th:nth-child(1){
    text-align: left;
} */

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/* td:nth-child(1){
    text-align: left;
} */

tr {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e8f0fe;
}